---
import "@/styles/global.css"; // 👈 importante
const {
  title = "SMS S.A | Servicios y Montajes",
  description = "Servicios y Montajes | South Mining Service S.A.",
} = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="text-slate-800 bg-white">
    <slot />
  </body>
</html>
